<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImportAndAddRawImdbData.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <userSettings>
      <ImportAndAddRawImdbData.My.MySettings>
            <setting name="FolderLocation" serializeAs="String">
                <value>E:\DLs\IMDB\Compressed</value>
            </setting>
            <setting name="ArchiveList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>https://datasets.imdbws.com/name.basics.tsv.gz</string>
                        <string>https://datasets.imdbws.com/title.akas.tsv.gz</string>
                        <string>https://datasets.imdbws.com/title.basics.tsv.gz</string>
                        <string>https://datasets.imdbws.com/title.crew.tsv.gz</string>
                        <string>https://datasets.imdbws.com/title.episode.tsv.gz</string>
                        <string>https://datasets.imdbws.com/title.principals.tsv.gz</string>
                        <string>https://datasets.imdbws.com/title.ratings.tsv.gz</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OverallSavedStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="NameBasicsSavedStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleAkasSavedStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleBasicsSavedStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleCrewSavedStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleEpisodeSavedStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitlePrincipalsSavedStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleRatingsSavedStartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="OverallSavedEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="NameBasicsSavedEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleAkasSavedEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleBasicsSavedEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleCrewSavedEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleEpisodeSavedEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitlePrincipalsSavedEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleRatingsSavedEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="NameBasicsSavedRowCount" serializeAs="String">
                <value>15427319</value>
            </setting>
            <setting name="TitleAkasSavedRowCount" serializeAs="String">
                <value>57452364</value>
            </setting>
            <setting name="TitleBasicsSavedRowCount" serializeAs="String">
                <value>12541389</value>
            </setting>
            <setting name="TitleCrewSavedRowCount" serializeAs="String">
                <value>12541389</value>
            </setting>
            <setting name="TitleEpisodeSavedRowCount" serializeAs="String">
                <value>9687178</value>
            </setting>
            <setting name="TitlePrincipalsSavedRowCount" serializeAs="String">
                <value>99764730</value>
            </setting>
            <setting name="TitleRatingsSavedRowCount" serializeAs="String">
                <value>1683289</value>
            </setting>
            <setting name="OverallSavedRowCount" serializeAs="String">
                <value>209653830</value>
            </setting>
            <setting name="SavedRowCount401" serializeAs="String">
                <value>15380979</value>
            </setting>
            <setting name="SavedRowCount402" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="SavedRowCount403" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SavedRowCount404" serializeAs="String">
                <value>17114040</value>
            </setting>
            <setting name="SavedRowCount405" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="SavedRowCount406" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="SavedRowCount407" serializeAs="String">
                <value>12541389</value>
            </setting>
            <setting name="SavedRowCount408" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedRowCount409" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="SavedRowCount410" serializeAs="String">
                <value>19644165</value>
            </setting>
            <setting name="SavedRowCount411" serializeAs="String">
                <value>57452364</value>
            </setting>
            <setting name="SavedRowCount412" serializeAs="String">
                <value>163</value>
            </setting>
            <setting name="SavedRowCount413" serializeAs="String">
                <value>311606</value>
            </setting>
            <setting name="SavedRowCount414" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SavedRowCount415" serializeAs="String">
                <value>314710</value>
            </setting>
            <setting name="SavedRowCount416" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedRowCount417" serializeAs="String">
                <value>1666</value>
            </setting>
            <setting name="SavedRowCount418" serializeAs="String">
                <value>99764730</value>
            </setting>
            <setting name="SavedRowCount419" serializeAs="String">
                <value>10642136</value>
            </setting>
            <setting name="SavedRowCount420" serializeAs="String">
                <value>48687272</value>
            </setting>
            <setting name="SavedRowCount421" serializeAs="String">
                <value>3401367</value>
            </setting>
            <setting name="SavedRowCount422" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedRowCount423" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="SavedRowCount424" serializeAs="String">
                <value>3401367</value>
            </setting>
            <setting name="SavedRowCount425" serializeAs="String">
                <value>9687178</value>
            </setting>
            <setting name="SavedRowCount426" serializeAs="String">
                <value>1676404</value>
            </setting>
            <setting name="SavedCountPrincipals" serializeAs="String">
                <value>15454479</value>
            </setting>
            <setting name="SavedCountProfessions" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="SavedCountTitleCharacters" serializeAs="String">
                <value>48942647</value>
            </setting>
            <setting name="SavedCountTitleGenres" serializeAs="String">
                <value>19644165</value>
            </setting>
            <setting name="SavedCountTitleNameAttributes" serializeAs="String">
                <value>630492</value>
            </setting>
            <setting name="SavedCountTitleNames" serializeAs="String">
                <value>58185048</value>
            </setting>
            <setting name="SavedCountTitlePrincipals" serializeAs="String">
                <value>103668658</value>
            </setting>
            <setting name="SavedCountTitles" serializeAs="String">
                <value>12611790</value>
            </setting>
            <setting name="SavedCountTitleTypes" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SavedCountAttributes" serializeAs="String">
                <value>169</value>
            </setting>
            <setting name="SavedCountEpisodes" serializeAs="String">
                <value>9743260</value>
            </setting>
            <setting name="SavedCountGenres" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="SavedCountPrimaryProfessions" serializeAs="String">
                <value>17185592</value>
            </setting>
            <setting name="TimeOut401" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TimeOut402" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="TimeOut403" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeOut404" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="TimeOut405" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeOut406" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeOut407" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="TimeOut408" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeOut409" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="TimeOut410" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="TimeOut411" serializeAs="String">
                <value>814</value>
            </setting>
            <setting name="TimeOut412" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeOut413" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TimeOut414" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeOut415" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="TimeOut416" serializeAs="String">
                <value>232</value>
            </setting>
            <setting name="TimeOut417" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="TimeOut418" serializeAs="String">
                <value>844</value>
            </setting>
            <setting name="TimeOut419" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="TimeOut420" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="TimeOut421" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="TimeOut422" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeOut423" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeOut424" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TimeOut425" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TimeOut426" serializeAs="String">
                <value>20</value>
            </setting>
        </ImportAndAddRawImdbData.My.MySettings>
    </userSettings>
</configuration>
